body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url('wood.png');

}

header{
  height: 15%;
  text-align: center;
  background-color: limegreen;
}
h1 {
  margin: 0;
  position: relative;
  top: 50%;
}

.calc-body {
  height: 75%;
  top: 15%;
  border: 3px solid silver;
  background-color: silver;
  box-shadow:0 1px 1px 1px rgba(0,0,0,0.5);
  border-radius: 4px;

}

.display {
  background-color: skyblue;
  height: 22%;
  background-color: #337ab7;
  border: 1px solid silver;

}
.display-window {
  position: relative;
  width: 96%;
  height: 84%;
  top: 8%;
  left: 2%;
  text-align: right;
  border-radius: 2px;
  color: 	#F0FFFF;
  background-color: #bccd95;
  border: 2px solid #428bca;
  box-shadow: inset 0 0 3px #000000;
}
.display-window > p {
  color: black;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  word-wrap: break-word;
  font-size: 4.6rem;
}

.display-window > .newLine::first-line{
  font-size: 3rem;
}

.buttons-container {
  height: 78%;
}

.numbers-and-clear {
  height: 100%;
}



.buttons-container button {
  height: 100%;
  border: 1px solid silver;
  border-radius: 0;
  font-size: 3rem;
}

.numbers-and-clear .row, .operators>.row{
  height: 20%;
}
.number, .clear, .clear-entry, .operator-div, .decimal-div{
  height: 100%;
  padding: 0;
}

.operators {
  height: 100%;
}

.operators>.row {
  padding: 0;
}
.operators .row:last-child {
  height: 40%;
}

@media only screen and (max-width: 768px) {
  .calc-body {
    height: 84%;
    top: 8%;
  }
}
